body{
    background-color: rgb(56, 136, 207);
    text-align: center;
}
h1 {
    font: normal 30pt Arial;
    text-align: center;
    color: aliceblue;
}
section{
    background-color: aliceblue;
    font: normal 15pt Arial;
    border-radius: 20px;
    margin: auto;
    text-align: left;
    padding: 15px;
    width: 500px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.788);
}
footer {
    text-align: center;
    font: normal 10pt Arial;
    color: aliceblue;
}